Options -Indexes
# Abilita la riscrittura URL se necessaria
RewriteEngine On
ErrorDocument 404 /portfolioEmilio/error/404.php
ErrorDocument 400 /portfolioEmilio/error/error.php
ErrorDocument 402 /portfolioEmilio/error/error.php
ErrorDocument 403 /portfolioEmilio/error/error.php
ErrorDocument 408 /portfolioEmilio/error/error.php
ErrorDocument 500 /portfolioEmilio/error/error.php
ErrorDocument 502 /portfolioEmilio/error/error.php
ErrorDocument 503 /portfolioEmilio/error/error.php
